
.footer__section {
    padding: 4rem 4rem;
    background-color: var(--black);
}

.conetenur__socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

@media (max-width: 768px) {
    .conetenur__socialmedia {
        display: flex;
        justify-content: center;
    }
}